In [2]:
import pandas as pd

In [5]:
pd.__version__

df = pd.read_csv('owid-covid-data.csv')

# get number of rows
print(f"Noumber of rows {df.shape[0]}")
# get number of columns
print(f"Noumber of columns {df.shape[1]}")

C:\Users\lenovo\AppData\Local\Temp\ipykernel_21616\1273128814.py:3: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('owid-covid-data.csv')

Noumber of rows 311365
Noumber of columns 67

In [6]:
#firs 10th rows
df.head(n=10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
5,AFG,Asia,Afghanistan,2020-01-08,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
6,AFG,Asia,Afghanistan,2020-01-09,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
7,AFG,Asia,Afghanistan,2020-01-10,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
8,AFG,Asia,Afghanistan,2020-01-11,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
9,AFG,Asia,Afghanistan,2020-01-12,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [7]:
#last 5th rows
df.tail(n=5)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
311360,ZWE,Africa,Zimbabwe,2023-05-13,264821.0,5.0,10.286,5690.0,1.0,0.429,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
311361,ZWE,Africa,Zimbabwe,2023-05-14,264841.0,20.0,10.714,5690.0,0.0,0.429,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
311362,ZWE,Africa,Zimbabwe,2023-05-15,264848.0,7.0,10.286,5690.0,0.0,0.286,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
311363,ZWE,Africa,Zimbabwe,2023-05-16,264848.0,0.0,9.429,5690.0,0.0,0.286,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
311364,ZWE,Africa,Zimbabwe,2023-05-17,264848.0,0.0,8.143,5690.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [8]:
df.describe(include="all")

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,311365,296585,311365,311365,2.753350e+05,3.026550e+05,3.013910e+05,2.546350e+05,302735.000000,301505.000000,...,178515.000000,118181.000000,212983.000000,286344.000000,233879.000000,3.113650e+05,1.066900e+04,10669.000000,10669.000000,10669.000000
unique,255,6,255,1234,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,ARG,Africa,Argentina,2022-04-20,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1234,70168,1234,255,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,5.767156e+06,1.073397e+04,1.077678e+04,8.061661e+04,95.740952,96.103652,...,32.909877,50.790203,3.097164,73.717755,0.722480,1.281151e+08,4.739668e+04,9.538903,12.633550,1477.149682
std,NaN,NaN,NaN,NaN,3.600088e+07,1.030085e+05,1.002455e+05,4.164645e+05,600.706338,591.334247,...,13.574397,31.957386,2.548455,7.397226,0.148991,6.596962e+08,1.384241e+05,12.914011,26.344219,1840.907839
min,NaN,NaN,NaN,NaN,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,...,7.700000,1.188000,0.100000,53.280000,0.394000,4.700000e+01,-3.772610e+04,-44.230000,-95.920000,-1984.281600
25%,NaN,NaN,NaN,NaN,6.565000e+03,0.000000e+00,1.143000e+00,1.210000e+02,0.000000,0.000000,...,22.600000,20.859000,1.300000,69.590000,0.602000,4.490020e+05,2.780000e+01,0.560000,-1.200000,24.645111
50%,NaN,NaN,NaN,NaN,6.239700e+04,1.700000e+01,3.771400e+01,1.230000e+03,0.000000,0.286000,...,33.100000,49.839000,2.500000,75.050000,0.740000,5.882259e+06,4.530999e+03,7.750000,6.490000,900.418500
75%,NaN,NaN,NaN,NaN,6.419815e+05,5.230000e+02,6.310000e+02,1.064800e+04,6.000000,6.714000,...,41.300000,83.241000,4.200000,79.460000,0.829000,2.830170e+07,3.159700e+04,15.360000,18.070000,2399.257000
max,NaN,NaN,NaN,NaN,7.664400e+08,7.460822e+06,6.410667e+06,6.932578e+06,20027.000000,14677.857000,...,78.100000,100.000000,13.800000,86.750000,0.957000,7.975105e+09,1.282260e+06,76.550000,377.300000,10291.122000

In [9]:
print(df.max())

iso_code                                            ZWE
location                                       Zimbabwe
date                                         2023-05-18
total_cases                                 766440032.0
new_cases                                     7460822.0
                                               ...
population                                 7975105024.0
excess_mortality_cumulative_absolute          1282260.0
excess_mortality_cumulative                       76.55
excess_mortality                                  377.3
excess_mortality_cumulative_per_million       10291.122
Length: 65, dtype: object

C:\Users\lenovo\AppData\Local\Temp\ipykernel_21616\2376050674.py:1: FutureWarning: The default value of numeric_only in DataFrame.max is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.max())

In [10]:
for col in df:
    print(df[col].unique())

['AFG' 'OWID_AFR' 'ALB' 'DZA' 'ASM' 'AND' 'AGO' 'AIA' 'ATG' 'ARG' 'ARM'
 'ABW' 'OWID_ASI' 'AUS' 'AUT' 'AZE' 'BHS' 'BHR' 'BGD' 'BRB' 'BLR' 'BEL'
 'BLZ' 'BEN' 'BMU' 'BTN' 'BOL' 'BES' 'BIH' 'BWA' 'BRA' 'VGB' 'BRN' 'BGR'
 'BFA' 'BDI' 'KHM' 'CMR' 'CAN' 'CPV' 'CYM' 'CAF' 'TCD' 'CHL' 'CHN' 'COL'
 'COM' 'COG' 'COK' 'CRI' 'CIV' 'HRV' 'CUB' 'CUW' 'CYP' 'CZE' 'COD' 'DNK'
 'DJI' 'DMA' 'DOM' 'ECU' 'EGY' 'SLV' 'OWID_ENG' 'GNQ' 'ERI' 'EST' 'SWZ'
 'ETH' 'OWID_EUR' 'OWID_EUN' 'FRO' 'FLK' 'FJI' 'FIN' 'FRA' 'GUF' 'PYF'
 'GAB' 'GMB' 'GEO' 'DEU' 'GHA' 'GIB' 'GRC' 'GRL' 'GRD' 'GLP' 'GUM' 'GTM'
 'GGY' 'GIN' 'GNB' 'GUY' 'HTI' 'OWID_HIC' 'HND' 'HKG' 'HUN' 'ISL' 'IND'
 'IDN' 'IRN' 'IRQ' 'IRL' 'IMN' 'ISR' 'ITA' 'JAM' 'JPN' 'JEY' 'JOR' 'KAZ'
 'KEN' 'KIR' 'OWID_KOS' 'KWT' 'KGZ' 'LAO' 'LVA' 'LBN' 'LSO' 'LBR' 'LBY'
 'LIE' 'LTU' 'OWID_LIC' 'OWID_LMC' 'LUX' 'MAC' 'MDG' 'MWI' 'MYS' 'MDV'
 'MLI' 'MLT' 'MHL' 'MTQ' 'MRT' 'MUS' 'MYT' 'MEX' 'FSM' 'MDA' 'MCO' 'MNG'
 'MNE' 'MSR' 'MAR' 'MOZ' 'MMR' 'NAM' 'NRU' 'NPL' 'NLD' 'NCL' 'NZL' 'NIC'
 'NER' 'NGA' 'NIU' 'OWID_NAM' 'PRK' 'MKD' 'OWID_CYN' 'OWID_NIR' 'MNP'
 'NOR' 'OWID_OCE' 'OMN' 'PAK' 'PLW' 'PSE' 'PAN' 'PNG' 'PRY' 'PER' 'PHL'
 'PCN' 'POL' 'PRT' 'PRI' 'QAT' 'REU' 'ROU' 'RUS' 'RWA' 'BLM' 'SHN' 'KNA'
 'LCA' 'MAF' 'SPM' 'VCT' 'WSM' 'SMR' 'STP' 'SAU' 'OWID_SCT' 'SEN' 'SRB'
 'SYC' 'SLE' 'SGP' 'SXM' 'SVK' 'SVN' 'SLB' 'SOM' 'ZAF' 'OWID_SAM' 'KOR'
 'SSD' 'ESP' 'LKA' 'SDN' 'SUR' 'SWE' 'CHE' 'SYR' 'TWN' 'TJK' 'TZA' 'THA'
 'TLS' 'TGO' 'TKL' 'TON' 'TTO' 'TUN' 'TUR' 'TKM' 'TCA' 'TUV' 'UGA' 'UKR'
 'ARE' 'GBR' 'USA' 'VIR' 'OWID_UMC' 'URY' 'UZB' 'VUT' 'VAT' 'VEN' 'VNM'
 'OWID_WLS' 'WLF' 'ESH' 'OWID_WRL' 'YEM' 'ZMB' 'ZWE']
['Asia' nan 'Europe' 'Africa' 'Oceania' 'North America' 'South America']
['Afghanistan' 'Africa' 'Albania' 'Algeria' 'American Samoa' 'Andorra'
 'Angola' 'Anguilla' 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba'
 'Asia' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain'
 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bermuda'
 'Bhutan' 'Bolivia' 'Bonaire Sint Eustatius and Saba'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'British Virgin Islands'
 'Brunei' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon'
 'Canada' 'Cape Verde' 'Cayman Islands' 'Central African Republic' 'Chad'
 'Chile' 'China' 'Colombia' 'Comoros' 'Congo' 'Cook Islands' 'Costa Rica'
 "Cote d'Ivoire" 'Croatia' 'Cuba' 'Curacao' 'Cyprus' 'Czechia'
 'Democratic Republic of Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'England'
 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia' 'Europe'
 'European Union' 'Faeroe Islands' 'Falkland Islands' 'Fiji' 'Finland'
 'France' 'French Guiana' 'French Polynesia' 'Gabon' 'Gambia' 'Georgia'
 'Germany' 'Ghana' 'Gibraltar' 'Greece' 'Greenland' 'Grenada' 'Guadeloupe'
 'Guam' 'Guatemala' 'Guernsey' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti'
 'High income' 'Honduras' 'Hong Kong' 'Hungary' 'Iceland' 'India'
 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Isle of Man' 'Israel' 'Italy'
 'Jamaica' 'Japan' 'Jersey' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati'
 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon' 'Lesotho'
 'Liberia' 'Libya' 'Liechtenstein' 'Lithuania' 'Low income'
 'Lower middle income' 'Luxembourg' 'Macao' 'Madagascar' 'Malawi'
 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Marshall Islands' 'Martinique'
 'Mauritania' 'Mauritius' 'Mayotte' 'Mexico' 'Micronesia (country)'
 'Moldova' 'Monaco' 'Mongolia' 'Montenegro' 'Montserrat' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal' 'Netherlands'
 'New Caledonia' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'Niue'
 'North America' 'North Korea' 'North Macedonia' 'Northern Cyprus'
 'Northern Ireland' 'Northern Mariana Islands' 'Norway' 'Oceania' 'Oman'
 'Pakistan' 'Palau' 'Palestine' 'Panama' 'Papua New Guinea' 'Paraguay'
 'Peru' 'Philippines' 'Pitcairn' 'Poland' 'Portugal' 'Puerto Rico' 'Qatar'
 'Reunion' 'Romania' 'Russia' 'Rwanda' 'Saint Barthelemy' 'Saint Helena'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Martin (French part)'
 'Saint Pierre and Miquelon' 'Saint Vincent and the Grenadines' 'Samoa'
 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia' 'Scotland' 'Senegal'
 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Sint Maarten (Dutch part)' 'Slovakia' 'Slovenia' 'Solomon Islands'
 'Somalia' 'South Africa' 'South America' 'South Korea' 'South Sudan'
 'Spain' 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden' 'Switzerland' 'Syria'
 'Taiwan' 'Tajikistan' 'Tanzania' 'Thailand' 'Timor' 'Togo' 'Tokelau'
 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan'
 'Turks and Caicos Islands' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States'
 'United States Virgin Islands' 'Upper middle income' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Vatican' 'Venezuela' 'Vietnam' 'Wales'
 'Wallis and Futuna' 'Western Sahara' 'World' 'Yemen' 'Zambia' 'Zimbabwe']
['2020-01-03' '2020-01-04' '2020-01-05' ... '2020-01-01' '2020-01-02'
 '2023-05-18']
[        nan 1.00000e+00 4.00000e+00 ... 2.64821e+05 2.64841e+05
 2.64848e+05]
[0.00000e+00 1.00000e+00 3.00000e+00 ... 4.25240e+04 1.73793e+05
 2.99440e+04]
[         nan 0.000000e+00 1.430000e-01 ... 3.295286e+03 1.481429e+03
 1.397143e+03]
[      nan 1.000e+00 2.000e+00 ... 5.427e+03 5.444e+03 5.453e+03]
[0.000e+00 1.000e+00 2.000e+00 ... 2.828e+03 2.058e+03 2.817e+03]
[        nan 0.00000e+00 1.43000e-01 ... 6.53143e+02 6.51714e+02
 5.10571e+02]
[          nan 2.4000000e-02 9.7000000e-02 ... 1.6226241e+04 1.6227467e+04
 1.6227895e+04]
[0.0000e+00 2.4000e-02 7.3000e-02 ... 1.2867e+01 2.9962e+01 7.2910e+00]
[      nan 0.000e+00 3.000e-03 ... 9.594e+00 4.841e+00 2.696e+00]
[        nan 2.40000e-02 4.90000e-02 ... 3.48518e+02 3.48579e+02
 3.48640e+02]
[0.    0.024 0.049 ... 4.963 4.228 2.635]
[       nan 0.0000e+00 3.0000e-03 ... 3.3860e+00 8.6237e+01 4.6300e+00]
[  nan  1.51  1.52  1.5   1.49  1.48  1.47  1.54  1.55  1.56  1.57  1.59
  1.58  1.61  1.46  1.44  1.42  1.41  1.39  1.38  1.36  1.35  1.33  1.31
  1.29  1.27  1.26  1.24  1.22  1.21  1.19  1.17  1.16  1.14  1.13  1.11
  1.09  1.08  1.06  1.04  1.03  1.02  1.    0.99  0.97  0.96  0.95  0.93
  0.92  0.9   0.89  0.88  0.86  0.85  0.84  0.83  0.82  0.81  0.8   0.79
  0.78  0.77  0.76  0.87  0.91  0.94  0.98  1.01  1.1   1.12  1.15  1.18
  1.2   1.07  1.05  0.75  1.23  1.25  1.3   1.32  1.34  1.28  1.37  0.74
  0.73  0.72  0.71  0.7   0.69  0.68  0.67  0.66  0.65  0.64  1.45  1.53
  1.4   1.43  0.63  0.62  0.61  0.6   0.59  1.6   1.62  1.63  1.65  1.68
  1.71  1.74  1.78  1.82  1.84  1.85  1.86  1.81  1.79  1.76  1.72  1.7
  1.67  1.64  1.73  1.75  0.58  0.57  0.56  1.88  1.87  1.83  1.77  1.69
  1.66  0.54  0.52  0.5   0.48  0.45  0.43  0.41  0.4   0.38  0.37  0.36
  0.35  0.34  0.33  0.39  0.44  0.47  0.51  0.53  0.55  0.49  0.46  0.42
  1.96  2.13  2.34  2.43  2.51  2.6   2.69  2.8   2.91  2.94  2.85  2.7
  2.57  2.47  2.41  2.19  1.99  0.31  0.3   0.29  0.25  0.21  0.19  0.16
  0.14  0.11  0.1   0.09  0.08  0.07  0.06  0.05  0.04  0.03  0.02  0.01
  0.12  0.17  0.24  0.18  0.15  0.22  0.27  0.32  0.28  0.   -0.01  0.13
  0.23  0.2   2.38  2.37  2.25  2.12  2.04  1.98  1.89  1.8   1.93  2.11
  2.24  2.01  2.02  1.97  1.92  1.95  2.03  2.18  2.23  2.28  2.3   2.08
 -0.07  2.22  2.32  2.31  2.39  2.45  2.44  2.27  2.15  1.94  2.07  2.17
  2.21  2.2   2.09  2.89  2.88  2.86  2.71  2.62  2.52  2.14  2.05  0.26
  2.06  2.    2.72  2.58  2.61  2.59  2.54  1.9   2.16  2.1   2.46  2.67
  2.83  2.81  2.78  2.79  2.68  2.35  2.49  2.65  2.64  2.4   2.33  2.36
  1.91  2.26  2.73  2.77  2.82  2.95  2.87  2.56  2.97  2.76  2.74  2.53
  2.29  3.04  3.28  3.5   3.59  3.66  3.68  3.29  3.05  2.48  2.96  3.21
  3.25  3.18  3.14  3.1   2.42  2.5   2.55  2.92  3.35  3.83  4.    3.95
  3.81  3.57  3.37  3.26  3.17  3.08 -0.02 -0.03  2.9   3.03  3.06  3.09
  2.75  2.93  2.99  3.    2.84  4.82  4.61  4.6   4.65  4.37  3.88  3.16
  2.66  3.54  3.44  3.36  3.13  3.71  4.08  4.03  3.7   2.63  3.23  3.62
  3.46  2.98  3.91  4.22  3.85  3.61  3.76  3.72  3.47 -0.04 -0.06  5.87
  5.57  4.5   3.12  4.25  4.21  4.07  3.64  3.52  3.43  3.27  3.55  3.56
  3.42  3.41  3.38  3.58  3.6   3.3   3.15  3.32  3.48]
[  nan   62.   67. ... 1925. 1608. 1290.]
[   nan  1.381  1.492 ...  0.631  0.315 15.457]
[  nan  426.  441. ... 1843. 1678. 1014.]
[    nan  16.274  16.847 ... 253.943 158.991  99.054]

[ nan 195. 194. ... 797. 411. 491.]
[  nan 9.947 9.896 ... 1.955 2.166 1.703]
[  nan 1291. 1499. ... 8783. 8663.  994.]
[    nan 110.759 128.604 ...   5.994   4.101   1.893]
[     nan  853003.  889430. ... 2365708. 2374300. 2379907.]
[       nan 8.0000e+00 5.0000e+00 ... 9.4830e+03 1.2086e+04 7.7340e+03]
[    nan  21.272  22.181 ... 147.917 148.454 148.804]
[      nan 3.000e-03 2.000e-03 ... 7.367e+00 9.073e+00 8.158e+00]
[   nan  1301.  1264. ... 22289.  3254.  2535.]
[  nan 0.032 0.031 ... 6.335 5.676 5.749]
[   nan 0.4855 0.448  ... 0.9523 0.4306 0.3925]
[   nan    2.1    2.2 ... 1051.3  421.5  249.1]
[nan 'tests performed' 'units unclear' 'samples tested' 'people tested']
[          nan 0.0000000e+00 8.2000000e+03 ... 1.2216848e+07 1.2219760e+07
 1.2222754e+07]
[     nan       0.    8200. ... 6435970. 6436704. 6437808.]
[     nan   55624.   77560. ... 4748940. 4750104. 4751270.]
[     nan  213042.  295208. ... 1031938. 1032952. 1033676.]
[   nan  2859.  4015. ...  8840. 12159.  2632.]
[  nan 1367. 1580. ... 6793. 6231. 5378.]
[      nan 0.000e+00 2.000e-02 ... 7.405e+01 7.442e+01 7.476e+01]
[      nan 0.000e+00 2.000e-02 ... 2.580e+01 2.707e+01 3.441e+01]
[  nan  0.14  0.19 ... 21.45 27.49 28.78]
[  nan  0.52  0.72 ... 33.06 33.51 34.5 ]
[   nan    33.    38. ... 17334. 12332.  8365.]
[   nan  1367.  1580. ... 15022. 10229.  6797.]
[  nan 0.003 0.004 ... 2.121 1.664 1.44 ]
[ 0.    8.33 27.78 ...  9.76  9.75  9.74]
[5.4422000e+01           nan 1.0487100e+02 1.7348000e+01 2.7820500e+02
 1.6375500e+02 2.3890000e+01 2.3184500e+02 1.6177000e+01 1.0293100e+02
 5.8480000e+02 3.2020000e+00 1.0674900e+02 1.1930900e+02 3.9497000e+01
 1.9359070e+03 1.2650360e+03 6.6446300e+02 4.6858000e+01 3.7556400e+02
 1.6426000e+01 9.9110000e+01 1.3088200e+03 2.1188000e+01 1.0202000e+01
 6.8496000e+01 4.0440000e+00 2.5040000e+01 2.0797300e+02 8.1347000e+01
 6.5180000e+01 7.0151000e+01 4.2306200e+02 9.0672000e+01 5.0885000e+01
 4.0370000e+00 1.3558000e+02 2.5649600e+02 7.4790000e+00 1.1833000e+01
 2.4282000e+01 1.4767400e+02 4.4223000e+01 4.3735200e+02 1.5405000e+01
 9.6079000e+01 7.6399000e+01 7.3726000e+01 1.1040800e+02 3.6264400e+02
 1.2765700e+02 1.3717600e+02 3.5879000e+01 1.3652000e+02 4.1285000e+01
 9.8567000e+01 2.2287300e+02 6.6939000e+01 9.7999000e+01 3.0781100e+02
 4.5194000e+01 4.4304000e+01 3.1033000e+01 7.9492000e+01 1.0495700e+02
 3.5308000e+01 4.9562000e+01 1.8136000e+01 1.2257800e+02 7.7324000e+01
 7.8590000e+00 2.0756600e+02 6.5032000e+01 2.3701600e+02 1.2671900e+02
 3.4571000e+03 8.3479000e+01 1.3700000e-01 3.1713200e+02 3.0412800e+02
 1.5783400e+02 5.1755000e+01 6.6191000e+01 3.9520000e+00 3.9844800e+02
 8.2805000e+01 7.0397140e+03 1.0804300e+02 3.4040000e+00 4.5041900e+02
 1.4572500e+02 4.9831000e+01 8.8125000e+01 6.9874000e+01 1.4787200e+02
 4.0260600e+02 2.0585900e+02 2.6687900e+02 3.4777800e+02 1.0928500e+02
 6.6810000e+00 8.7324000e+01 1.4370100e+02 1.6815500e+02 2.3212800e+02
 3.2333000e+01 2.9715000e+01 3.1212000e+01 5.9456100e+02 7.3562000e+01
 4.9127000e+01 3.6230000e+00 2.3701200e+02 4.5135000e+01 2.3144700e+02
 2.0546766e+04 4.3951000e+01 1.9751900e+02 9.6254000e+01 1.4544330e+03
 1.5196000e+01 1.4540370e+03 2.9515000e+02 4.2890000e+00 6.2296200e+02
 6.6444000e+01 1.5077700e+02 1.2365500e+02 1.9347500e+04 1.9800000e+00
 4.6280000e+01 8.0080000e+01 3.7728000e+01 8.1721000e+01 3.0780000e+00
 6.8245000e+02 2.0443000e+02 5.0854400e+02 1.5342000e+01 1.8206000e+01
 5.1667000e+01 1.6955000e+01 2.0958800e+02 2.1170100e+02 8.2600000e+01
 1.1987800e+02 1.4462000e+01 1.4980000e+01 2.5557300e+02 4.7237000e+01
 7.7820200e+02 5.5133000e+01 1.8220000e+01 1.7144000e+01 2.5129000e+01
 3.5187300e+02 1.2402700e+02 1.1237100e+02 3.7623200e+02 2.2732200e+02
 8.5129000e+01 8.8230000e+00 4.9486900e+02 2.1286500e+02 2.9318700e+02
 5.9053300e+02 2.8178700e+02 6.9413000e+01 5.5666700e+02 2.1284100e+02
 1.5322000e+01 8.2328000e+01 8.0291000e+01 2.0835400e+02 1.0470000e+02
 7.9157310e+03 1.2090880e+03 1.1312800e+02 1.0261900e+02 2.1841000e+01
 2.3500000e+01 4.6754000e+01 5.2796700e+02 9.3105000e+01 3.4195500e+02
 2.3258000e+01 3.6120000e+00 2.4718000e+01 2.1424300e+02 6.4281000e+01
 6.4699000e+01 1.3513200e+02 8.7176000e+01 1.4336600e+02 1.5002800e+02
 2.6688600e+02 7.4228000e+01 1.0491400e+02 1.2253000e+01 3.7312000e+01
 3.7306700e+02 2.1375900e+02 7.7390000e+01 1.1244200e+02 2.7289800e+02
 3.5608000e+01 3.0648000e+02 1.9751000e+01 7.6134000e+01 2.2662000e+01
 3.6253000e+01 3.0812700e+02 5.8045000e+01 5.3508000e+01 2.2995000e+01
 4.2729000e+01]
[18.6  nan 38.  29.1 16.8 32.1 31.9 35.7 41.2 37.9 44.4 32.4 34.3 27.5
 39.8 40.3 41.8 25.  18.8 28.6 25.4 42.5 25.8 33.5 44.7 17.6 17.5 25.6
 41.4 25.7 18.3 16.7 35.4 38.7 32.2 20.4 19.  33.6 18.7 44.  43.1 41.7
 37.3 43.3 17.  42.3 27.6 28.1 25.3 22.4 19.3 42.7 21.5 19.8 42.8 42.
 32.7 23.1 46.6 21.1 45.3 29.4 43.4 31.4 22.9 19.4 26.3 24.3 24.9 44.8
 28.2 29.3 20.  30.6 47.9 48.2 23.2 33.7 24.4 43.9 31.1 22.2 19.2 29.
 43.5 39.7 39.2 19.6 18.1 29.9 16.4 42.4 45.7 20.3 37.4 20.1 23.  37.6
 39.1 29.6 17.7 22.  43.2 33.4 27.3 15.1 35.3 30.7 23.5 29.7 22.6 26.5
 25.2 46.2 38.2 36.  43.  39.6 34.9 31.8 36.2 19.1 44.5 20.8 45.5 34.1
 19.7 41.  21.7 42.2 23.3 40.1 18.  22.3 31.6 26.9 34.  40.8 38.3 35.6
 32.6 28.4 30.9]
[ 2.581    nan 13.188  6.211  2.405  6.933 11.198 11.232 13.085 15.504
 19.202  6.018  8.996  2.372  5.098 14.952 14.799 18.571  3.853  3.244
  4.885  6.704 16.569  3.941  8.552  4.591 20.801  2.409  2.562  4.412
  3.165 16.984  4.46   3.655  2.486 11.087 10.641  7.646  2.963  3.402
  9.468  2.933 19.724 14.738 16.367 13.416 19.027  3.02  19.677  4.213
  6.981  7.104  5.159  8.273  2.846  3.607 19.452  3.163  3.526  6.224
 21.228 19.718  7.775  4.45   2.339 14.864 21.453  3.385 20.396  7.304
  9.551  4.694  3.135  3.002  5.305  4.8    4.652 16.303 18.577 14.431
  5.989  5.319  5.44   3.186 13.928 11.733 23.021  9.684 27.049  3.81
  6.991  2.686  3.895  2.345  4.489  4.029 19.754  8.514  4.506  3.057
  4.424 19.002 14.312  9.798  2.929  2.979  6.293  4.12   2.519 19.426
  3.138 10.945  6.857  4.81  10.864  4.031 14.762  6.769  3.158  5.732
  3.552  5.809 18.779  9.954 15.322  5.445  2.553  2.751  9.491 13.26
 16.821  2.355  4.495  3.043  7.918  3.808  6.378  7.151  4.803 16.763
 21.502 15.168  1.307 17.85  14.178  2.974  9.721  7.724  5.606  2.886
  3.295  3.008 17.366  8.606  2.538 12.922 15.07  19.062  3.507  2.731
  5.344 13.914  3.441 19.436 10.069  3.548 19.985 18.436  3.466  3.108
 11.373  3.556  2.839  5.82  10.014  8.001  8.153  4.277  2.168 16.462
  1.144 18.517 15.413 18.601 14.655  4.469  4.394  6.614  7.15   8.696
  2.922  2.48   2.822]
[ 1.337    nan  8.643  3.857  1.362  4.631  7.441  7.571  7.452 10.129
 13.748  3.871  5.2    1.387  3.262  9.473  9.788 12.849  2.279  1.942
  2.977  4.393 10.711  2.242  5.06   2.382 13.272  1.358  1.504  2.385
  1.919 10.797  3.437  2.251  1.446  6.938  5.929  4.312  1.726  2.063
  5.694  1.582 13.053  9.719 10.068  8.563 11.58   1.745 12.325  2.38
  4.419  4.458  2.891  5.417  1.752  2.171 13.491  1.845  3.284 13.264
 13.079  2.897  4.593  2.976  1.417 10.244 15.957  1.948 14.524  5.021
  5.493  3.016  1.733  1.565  2.837  2.954  2.883 10.158 11.976  9.207
  3.414  3.053  3.182  1.957  8.678  7.359 16.24   6.39  18.493  2.361
  4.625  1.528  2.21   1.114  2.882  2.322 14.136  5.43   2.647  1.756
  2.816 13.778  9.842  4.991  1.686  1.783  3.407  2.875  1.486 11.324
 12.543  1.792  5.884  2.411  4.321  2.392  6.955  2.421  9.395  4.209
  1.87   3.12   2.085  3.212 11.881  6.489  9.72   3.519  1.378  1.447
  6.139  8.16  10.813  1.53   2.78   5.03   2.142  3.833  4.455  2.661
 10.202 14.924  9.829  0.617  6.841 11.69   9.393  1.642  6.405  4.832
  3.564  2.162  1.796  5.586  1.285  7.049  9.167 12.93   2.043  1.496
  8.622  2.032 13.799  5.331  2.034  4.229 13.433 12.644  2.577  8.353
  2.155  1.874  6.89   1.897  1.525  4.032  5.819  5.075  5.061  2.541
  1.308 11.133  0.526 12.527  9.732 10.799 10.361  2.873  2.62   3.915
  4.718  1.38   5.355  1.583  1.542  1.882]
[  1803.987        nan  11803.431  13913.839   5819.495  21490.943
  18933.907   8787.58   35973.781  44648.71   45436.686  15847.419
  27717.847  43290.705   3523.984  16978.068  17167.967  42658.576
   7824.362   2064.236  50669.315   8708.597   6885.829  11713.895
  15807.374  14103.452  71809.251  18563.307   1703.102    702.225
   3645.07    3364.926  44017.591   6222.554  49903.029    661.24
   1768.153  22767.037  15308.712  13254.949   1413.89    4881.406
  15524.995   3601.006  22669.797  32415.132  32605.906    808.133
  46682.515   2705.406   9673.367  14600.861  10581.936  10550.206
   7292.458  22604.873   1510.459  29481.252   7738.975   1729.927
   8702.975  40585.721  38605.671  16562.413   1561.767   9745.079
  45229.245   4227.63   24574.382  13593.877   7423.808   1998.926
   1548.675   7435.047   1653.173   4541.795  56054.92   26777.561
  46482.958   6426.674  11188.744  19082.62   15663.986  67335.293
  33132.32   35220.084   8193.571  39002.223   8337.49   24055.588
   2993.028   1981.132   9795.834  65530.537   3393.474   6397.36
  25063.846  13367.565   2851.153    752.788  17881.509  29524.265
  94277.965 104861.851   1416.44    1095.042  26808.164  15183.616
   2014.306  36513.323   3819.202   3597.633  20292.745  17336.469
   3299.464   5189.972  11840.846  16409.288   7485.013   1136.103
   5591.597   9541.808  12895.635   2442.804  48472.545  36085.843
   5321.444    926.      5338.454  13111.214  64800.057  37960.709
   5034.708  13240.405   4449.898  22267.037   3823.194   8827.01
  12236.706   7599.188  27216.445  27936.896  35044.67  116935.6
  23313.199  24765.954   1854.211  24654.385  12951.839  10727.146
   6021.557  56861.47    3052.714  49045.411   2470.58   14048.881
  26382.287   1390.3    85535.383  36327.232  30155.152  31400.84
   2205.923  12294.876  35938.374   1569.888  34272.36   11669.077
   4466.507  13767.119  46949.283  57410.166   2896.913   2683.304
  16277.671   6570.102   1429.813   5425.621  28763.071  10849.297
  25129.341  16389.023   3575.104   1697.707   7894.393  67293.483
  39753.244  54225.446  20551.409   6253.104   2921.909  16745.022
   6171.884  15469.207   1479.147   3689.251   1899.775]
[ nan  1.1  0.5  0.6  1.8  0.7 14.8  0.2 49.6  1.5  7.1  3.4 43.7 71.7
 23.8 38.4  1.3  4.5 18.1 37.  28.2 77.1 22.5  1.6  3.6  2.2 26.7  1.4
 10.1  4.2 12.   8.7 35.3 67.1 23.5 16.  21.2  5.7  2.5  2.   0.1 36.8
 22.7 59.6 38.6 77.6 71.4  6.   1.  62.9  6.4 13.4 15.   3.2 44.5  5.
  4.   1.7  3.5 56.  32.3 38.  52.2 25.1 18.9  4.8 49.1 30.3 49.2  3.3
 41.6  1.2 13.2 10.  18.8 57.5 21.4]
[597.029     nan 304.195 278.364 283.75  109.135 276.045 191.511 191.032
 341.01  107.791 145.183 559.812 235.954 151.689 298.003 170.05  443.129
 114.898 176.957 235.848 139.547 217.066 204.299 329.635 237.372 177.961
 201.285 424.688 269.048 293.068 270.892 244.661 105.599 182.219 435.727
 280.995 127.993 261.899 124.24  261.516 344.094 137.973 303.74  253.782
 190.968 141.171 227.485 318.949 114.767 258.037 227.376 266.653 140.448
 525.432 167.295 202.812 311.11  255.569 333.436 182.634 412.82  153.507
  86.06  259.967 331.43  496.218 156.139 298.245 175.695 199.941 243.964
 310.496 155.898 336.717 382.474 373.159 430.548 240.208 278.296 117.992
 282.28  342.864 270.308 218.612 126.459  93.32  113.151 206.537  79.37
 208.257 466.792 218.637 434.657 132.235 436.362 368.111 350.06  266.591
 405.126 272.509 341.862 342.989 128.275 405.994 227.349 260.942 164.905
 268.024 168.711 557.793 232.347 224.644 152.783 454.343 408.502 460.043
 387.305 419.146 329.942 202.104 243.811 260.797 109.361 128.797 137.016
 238.339 181.013 321.681 322.688 194.994 114.316 266.342 423.031 265.91
 128.346 561.494 199.128  85.755 370.437 227.331 127.842 108.094 176.69
 370.946 431.297 191.375 204.62  252.675 348.977 270.113 259.538 241.219
 439.415 242.648 325.721  92.243 287.959 153.493 459.78  365.769 200.38
  85.998 280.775  99.403 197.093 431.388 258.314 133.982  99.739 376.264
 103.957 427.698 217.288 109.861 335.346 280.033 227.49  228.467 318.991
 171.285 536.783 213.333 539.849 317.84  122.137 151.089 273.67  160.708
 724.417 546.3   204.85  245.465 233.07  495.003 234.499 307.846]
[ 9.59   nan 10.08  6.73  7.97  3.94 13.17  5.5   7.11 11.62  5.07  6.35
 16.52  8.38 13.57  5.18  4.29 17.11  0.99 13.    9.75  6.89  4.81  8.11
 13.67 12.79  5.81  2.42  6.05  4.    7.2   7.37 13.22  6.1   8.46  9.74
  7.44 11.88  8.78  5.59  8.27  9.24  6.82  6.41  8.2   5.55 17.31  8.87
  7.78  4.02  7.47 14.49  5.76  4.77 22.63  1.91  8.31  4.97  4.55  2.16
 10.71 21.52 10.18  6.65  7.21  8.33  7.55  5.31 10.39  6.32  8.83  3.28
  6.74  4.78 11.28  5.72 11.75  2.92 22.66 15.84  4.91 12.71 10.43  7.77
  3.67  4.42 16.74  9.19 30.53 22.02 13.06 12.02  5.46  4.82  7.14  3.3
  4.61 24.07  7.26  5.29 23.36  8.08 11.47 12.61  8.35 15.89 10.59 17.65
  5.95  7.07  5.91  9.85 12.9   6.18  4.28 12.84  9.21  5.64 17.72 10.55
 10.99  7.29  7.25 18.68  5.52  6.8   7.17 10.68 15.67 12.54  4.79  5.75
  7.04  6.86  6.15 15.42 10.97  8.52 12.13 27.25  2.5  17.26 10.79 12.26
  6.93  7.57  6.47  6.    8.51  5.35  1.82]
[   nan  7.1    0.7   29.    16.2    1.5   13.    28.4    0.3    3.1
  5.8    1.     1.9   10.5   25.1    0.6   30.2    5.7   10.1    2.
 30.1    1.6   12.     2.1   34.2    4.7    4.4    1.7    6.4   34.3
 17.1   19.6   30.5   19.3    8.5    0.2    2.5   24.5    0.4   10.2
 18.3    5.3   28.2   35.3    2.9   26.8   14.3    2.8    0.8   23.
 15.4   19.8   11.2    7.     1.2   35.9    2.7    3.6    7.3   25.6
 26.9   21.3   20.9    3.2    6.9    5.9    5.5   44.     5.1    6.3
  9.7   43.     9.5   24.4   14.8    0.1    0.5    7.7    2.4   23.5
  5.     4.8    7.8   23.3   16.3   22.9   23.4   16.7    1.8   37.7
  8.8    5.2   23.1   20.1    8.1    6.2   27.4    7.4   18.8   22.6
  3.3    0.9   11.8    1.1   14.1    3.4   13.5   20.    19.1   14.
  1.3    6.434  7.6  ]
[   nan 51.2   30.4   37.8   27.7   52.1   16.5   30.9   42.5   20.4
 37.6   44.7   14.5   46.1   31.4   12.3   47.7   34.4   17.9   44.4
 23.9   33.7   16.6   41.5   48.4   13.5   23.6   52.3   17.4   39.9
 53.3   52.7   38.3   18.8   24.5   19.1   50.1   11.4   39.3    8.5
 34.8   22.6   35.6   31.2   55.5   33.1    7.7   52.    23.1   15.2
 20.6   76.1   21.1   25.7   35.4   27.8   28.6   43.1   58.9   37.
 50.5   51.    40.7   53.9   18.1   38.    26.    24.7   42.4   55.
 23.    30.2   21.4   44.6   46.5   47.9   47.1   29.1   35.2   34.2
 36.9   27.3   17.2   15.4   10.8   20.7   15.6   36.7   22.7    9.9
 48.8   21.6   40.8   30.    26.9   37.1   58.3   21.    38.1   25.4
 40.2   35.7   41.3   28.3   37.7   25.    33.2   40.9   27.    42.9
 18.9   28.9   26.7   38.8   78.1   14.2   65.8   41.1   16.7   47.4
 37.4   24.6   19.9   34.5   45.9   34.635 29.2   30.7  ]
[ 37.746     nan  83.741  26.664  94.043  83.241  34.808  88.469  90.083
  11.035  79.807  25.383  97.164  11.877   6.144  66.229   2.735  16.603
   5.818  65.386  15.574  47.964  83.841  19.351  85.198   4.472  55.182
  80.635  89.827  90.65   24.64   24.097   7.96    7.876  41.047  76.665
  17.45    6.403  77.159  22.863  84.169  59.55   64.204  94.576  66.425
  98.999  24.651  89.22   49.839   2.117   1.188  50.54    8.704  95.803
  52.232  82.502  15.95   87.847  86.979  71.18   12.227  79.287  44.6
  47.782   8.978  41.949  97.4    59.607  79.602  78.463   4.617  87.202
  41.34   20.859  97.719  19.275  35.89    9.831  43.993  23.437  67.779
  70.598  72.704  47.953  90.67   28.178  10.475  89.443  78.687 100.
  21.222  25.209  85.847  60.13   49.542  13.938  36.791]
[ 0.5      nan  2.89   1.9    3.8    5.     4.2    3.84   7.37   4.7
  2.9    2.     0.8    5.8   11.     5.64   1.3    1.7    1.1    3.5
  1.8    2.2    2.7    7.454  0.4    2.5    2.1    1.     2.11   4.34
  1.71   1.13   5.54   5.2    3.4    6.63   1.4    1.6    1.5    0.7
  4.69   0.3    2.3    3.28   5.98   6.3    2.6    8.     0.9    4.21
  3.7    0.6    7.02   2.91   0.53   1.04   2.96   2.99   3.18  13.05
  6.7    4.5    5.57   2.397  6.56   4.51   0.2    0.1    4.485  1.38
 13.8    7.     3.861  3.32   2.61  13.2    4.28   3.6    4.8    6.62
  3.39   1.2    6.892  8.05   5.609  2.4    5.82   2.32  12.27   2.97
  3.1    2.22   4.53   5.9    3.     2.81   7.4    8.8    2.54   2.77
  2.8    4.     2.705]
[64.83   nan 78.57 76.88 73.74 83.73 61.15 81.88 77.02 76.67 75.09 76.29
 83.44 81.54 73.   73.92 77.29 72.59 79.19 74.79 81.63 74.62 61.77 82.59
 71.78 71.51 77.79 77.4  69.59 75.88 79.07 75.86 75.05 61.58 69.82 59.29
 82.43 72.98 83.92 53.28 54.24 80.18 76.91 64.32 64.57 76.25 80.28 57.78
 78.49 78.8  78.88 80.98 79.38 60.68 80.9  67.11 75.   74.08 77.01 71.99
 73.32 58.74 66.32 78.74 60.19 66.6  80.67 81.44 67.44 81.91 82.66 79.95
 77.66 66.47 62.05 73.77 81.33 64.07 79.93 82.24 71.7  72.4  82.14 80.07
 74.3  61.6  58.32 69.91 64.   75.27 84.86 82.99 69.66 71.72 76.68 70.6
 82.3  81.4  82.97 83.51 74.47 84.63 74.53 73.6  66.7  68.37 75.49 71.45
 67.92 75.29 78.93 54.33 64.1  72.91 82.49 75.93 82.25 84.24 67.04 64.26
 76.16 78.92 59.31 82.53 73.7  82.54 64.92 74.99 79.46 67.88 71.9  86.75
 69.87 74.16 60.85 67.13 63.71 59.96 70.78 82.28 77.55 82.29 74.48 62.42
 54.69 73.71 72.27 75.8  76.74 82.4  77.86 67.27 74.05 78.51 64.5  74.25
 71.23 78.73 82.05 80.1  80.23 80.48 76.05 72.58 69.02 80.56 76.23 76.2
 82.08 81.07 72.53 84.97 70.39 75.13 67.94 76.   73.4  54.7  83.62 78.95
 77.54 81.32 57.4  64.13 83.03 57.85 83.56 76.98 65.31 71.68 82.8  83.78
 72.7  80.46 71.1  65.46 77.15 69.5  61.04 81.86 70.91 73.51 76.7  77.69
 68.19 80.22 67.57 63.37 72.06 77.97 78.86 80.58 77.91 70.47 75.12 75.4
 79.94 70.26 66.12 63.89 61.49]
[0.511   nan 0.795 0.748 0.868 0.581 0.778 0.845 0.776 0.944 0.922 0.756
 0.814 0.852 0.632 0.823 0.931 0.716 0.545 0.654 0.718 0.78  0.735 0.765
 0.838 0.816 0.452 0.433 0.594 0.563 0.929 0.665 0.397 0.398 0.851 0.761
 0.767 0.554 0.574 0.81  0.538 0.783 0.887 0.9   0.48  0.94  0.524 0.742
 0.759 0.707 0.673 0.592 0.459 0.892 0.611 0.485 0.743 0.938 0.901 0.703
 0.496 0.812 0.947 0.888 0.779 0.663 0.477 0.682 0.51  0.634 0.949 0.854
 0.645 0.674 0.955 0.919 0.734 0.729 0.825 0.601 0.63  0.806 0.697 0.613
 0.866 0.744 0.527 0.724 0.882 0.916 0.528 0.483 0.74  0.434 0.895 0.704
 0.546 0.804 0.62  0.75  0.737 0.829 0.686 0.456 0.583 0.646 0.602 0.66
 0.394 0.539 0.774 0.957 0.813 0.557 0.826 0.708 0.815 0.555 0.728 0.777
 0.88  0.864 0.848 0.828 0.824 0.543 0.738 0.715 0.625 0.512 0.796 0.86
 0.917 0.567 0.709 0.904 0.782 0.945 0.668 0.529 0.606 0.515 0.725 0.82
 0.544 0.89  0.932 0.926 0.817 0.72  0.609 0.711 0.47  0.584 0.571]
[4.11287720e+07 1.42673661e+09 2.84231800e+06 4.49032280e+07
 4.42950000e+04 7.98430000e+04 3.55889960e+07 1.58770000e+04
 9.37720000e+04 4.55103240e+07 2.78047200e+06 1.06459000e+05
 4.72138337e+09 2.61774100e+07 8.93961700e+06 1.03580780e+07
 4.09989000e+05 1.47223700e+06 1.71186368e+08 2.81646000e+05
 9.53495600e+06 1.16559230e+07 4.05285000e+05 1.33528640e+07
 6.42070000e+04 7.82457000e+05 1.22241140e+07 2.70520000e+04
 3.23353000e+06 2.63030000e+06 2.15313504e+08 3.13320000e+04
 4.49002000e+05 6.78195500e+06 2.26737640e+07 1.28895830e+07
 1.67678510e+07 2.79145420e+07 3.84543280e+07 5.93162000e+05
 6.87220000e+04 5.57914800e+06 1.77233120e+07 1.96037360e+07
 1.42588736e+09 5.18740280e+07 8.36783000e+05 5.97043000e+06
 1.70320000e+04 5.18083600e+06 2.81605480e+07 4.03036100e+06
 1.12121980e+07 1.91173000e+05 8.96007000e+05 1.04939900e+07
 9.90102160e+07 5.88225900e+06 1.12085100e+06 7.27580000e+04
 1.12288210e+07 1.80010020e+07 1.10990096e+08 6.33639300e+06
 5.65500000e+07 1.67491600e+06 3.68404100e+06 1.32606400e+06
 1.20168000e+06 1.23379928e+08 7.44807803e+08 4.50146793e+08
 5.31170000e+04 3.80100000e+03 9.29769000e+05 5.54074500e+06
 6.78130000e+07 3.04568000e+05 3.06292000e+05 2.38899700e+06
 2.70599500e+06 3.74438500e+06 8.33698400e+07 3.34758700e+07
 3.26770000e+04 1.03849720e+07 5.64940000e+04 1.25459000e+05
 3.95762000e+05 1.71783000e+05 1.78439140e+07 6.33290000e+04

In [11]:
print(df.max())

iso_code                                            ZWE
location                                       Zimbabwe
date                                         2023-05-18
total_cases                                 766440032.0
new_cases                                     7460822.0
                                               ...
population                                 7975105024.0
excess_mortality_cumulative_absolute          1282260.0
excess_mortality_cumulative                       76.55
excess_mortality                                  377.3
excess_mortality_cumulative_per_million       10291.122
Length: 65, dtype: object

C:\Users\lenovo\AppData\Local\Temp\ipykernel_21616\2376050674.py:1: FutureWarning: The default value of numeric_only in DataFrame.max is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.max())

In [12]:
print(df.min())

iso_code                                           ABW
location                                   Afghanistan
date                                        2020-01-01
total_cases                                        1.0
new_cases                                          0.0
                                              ...
population                                        47.0
excess_mortality_cumulative_absolute        -37726.098
excess_mortality_cumulative                     -44.23
excess_mortality                                -95.92
excess_mortality_cumulative_per_million     -1984.2816
Length: 65, dtype: object

C:\Users\lenovo\AppData\Local\Temp\ipykernel_21616\3863265735.py:1: FutureWarning: The default value of numeric_only in DataFrame.min is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.min())

In [13]:
df.describe(include="all")

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,311365,296585,311365,311365,2.753350e+05,3.026550e+05,3.013910e+05,2.546350e+05,302735.000000,301505.000000,...,178515.000000,118181.000000,212983.000000,286344.000000,233879.000000,3.113650e+05,1.066900e+04,10669.000000,10669.000000,10669.000000
unique,255,6,255,1234,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,ARG,Africa,Argentina,2022-04-20,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1234,70168,1234,255,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,5.767156e+06,1.073397e+04,1.077678e+04,8.061661e+04,95.740952,96.103652,...,32.909877,50.790203,3.097164,73.717755,0.722480,1.281151e+08,4.739668e+04,9.538903,12.633550,1477.149682
std,NaN,NaN,NaN,NaN,3.600088e+07,1.030085e+05,1.002455e+05,4.164645e+05,600.706338,591.334247,...,13.574397,31.957386,2.548455,7.397226,0.148991,6.596962e+08,1.384241e+05,12.914011,26.344219,1840.907839
min,NaN,NaN,NaN,NaN,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,...,7.700000,1.188000,0.100000,53.280000,0.394000,4.700000e+01,-3.772610e+04,-44.230000,-95.920000,-1984.281600
25%,NaN,NaN,NaN,NaN,6.565000e+03,0.000000e+00,1.143000e+00,1.210000e+02,0.000000,0.000000,...,22.600000,20.859000,1.300000,69.590000,0.602000,4.490020e+05,2.780000e+01,0.560000,-1.200000,24.645111
50%,NaN,NaN,NaN,NaN,6.239700e+04,1.700000e+01,3.771400e+01,1.230000e+03,0.000000,0.286000,...,33.100000,49.839000,2.500000,75.050000,0.740000,5.882259e+06,4.530999e+03,7.750000,6.490000,900.418500
75%,NaN,NaN,NaN,NaN,6.419815e+05,5.230000e+02,6.310000e+02,1.064800e+04,6.000000,6.714000,...,41.300000,83.241000,4.200000,79.460000,0.829000,2.830170e+07,3.159700e+04,15.360000,18.070000,2399.257000
max,NaN,NaN,NaN,NaN,7.664400e+08,7.460822e+06,6.410667e+06,6.932578e+06,20027.000000,14677.857000,...,78.100000,100.000000,13.800000,86.750000,0.957000,7.975105e+09,1.282260e+06,76.550000,377.300000,10291.122000

In [14]:
df.drop(columns=['new_deaths_smoothed','new_cases_per_million','total_cases_per_million'],axis=0)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_cases_smoothed_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311360,ZWE,Africa,Zimbabwe,2023-05-13,264821.0,5.0,10.286,5690.0,1.0,0.630,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
311361,ZWE,Africa,Zimbabwe,2023-05-14,264841.0,20.0,10.714,5690.0,0.0,0.656,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
311362,ZWE,Africa,Zimbabwe,2023-05-15,264848.0,7.0,10.286,5690.0,0.0,0.630,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
311363,ZWE,Africa,Zimbabwe,2023-05-16,264848.0,0.0,9.429,5690.0,0.0,0.578,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
311364,ZWE,Africa,Zimbabwe,2023-05-17,264848.0,0.0,8.143,5690.0,0.0,0.499,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [15]:
df.rename(columns = {'date':'Date',"location":"Country","continent":"Continent","iso_code":"ISO_code"}, inplace = True)
df.head(n=5)

,ISO_code,Continent,Country,Date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [16]:
lst=[] 
lst=(df['Continent'].unique())
print(lst)

['Asia' nan 'Europe' 'Africa' 'Oceania' 'North America' 'South America']

In [17]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='constant')
df2 = pd.DataFrame(imputer.fit_transform(df),columns=df.columns)
print(df2)

       ISO_code Continent      Country        Date    total_cases new_cases  \
0           AFG      Asia  Afghanistan  2020-01-03  missing_value       0.0
1           AFG      Asia  Afghanistan  2020-01-04  missing_value       0.0
2           AFG      Asia  Afghanistan  2020-01-05  missing_value       0.0
3           AFG      Asia  Afghanistan  2020-01-06  missing_value       0.0
4           AFG      Asia  Afghanistan  2020-01-07  missing_value       0.0
...         ...       ...          ...         ...            ...       ...
311360      ZWE    Africa     Zimbabwe  2023-05-13       264821.0       5.0
311361      ZWE    Africa     Zimbabwe  2023-05-14       264841.0      20.0
311362      ZWE    Africa     Zimbabwe  2023-05-15       264848.0       7.0
311363      ZWE    Africa     Zimbabwe  2023-05-16       264848.0       0.0
311364      ZWE    Africa     Zimbabwe  2023-05-17       264848.0       0.0

       new_cases_smoothed   total_deaths new_deaths new_deaths_smoothed  ...  \
0           missing_value  missing_value        0.0       missing_value  ...
1           missing_value  missing_value        0.0       missing_value  ...
2           missing_value  missing_value        0.0       missing_value  ...
3           missing_value  missing_value        0.0       missing_value  ...
4           missing_value  missing_value        0.0       missing_value  ...
...                   ...            ...        ...                 ...  ...
311360             10.286         5690.0        1.0               0.429  ...
311361             10.714         5690.0        0.0               0.429  ...
311362             10.286         5690.0        0.0               0.286  ...
311363              9.429         5690.0        0.0               0.286  ...
311364              8.143         5690.0        0.0               0.143  ...

         male_smokers handwashing_facilities hospital_beds_per_thousand  \
0       missing_value                 37.746                        0.5
1       missing_value                 37.746                        0.5
2       missing_value                 37.746                        0.5
3       missing_value                 37.746                        0.5
4       missing_value                 37.746                        0.5
...               ...                    ...                        ...
311360           30.7                 36.791                        1.7
311361           30.7                 36.791                        1.7
311362           30.7                 36.791                        1.7
311363           30.7                 36.791                        1.7
311364           30.7                 36.791                        1.7

       life_expectancy human_development_index  population  \
0                64.83                   0.511  41128772.0
1                64.83                   0.511  41128772.0
2                64.83                   0.511  41128772.0
3                64.83                   0.511  41128772.0
4                64.83                   0.511  41128772.0
...                ...                     ...         ...
311360           61.49                   0.571  16320539.0
311361           61.49                   0.571  16320539.0
311362           61.49                   0.571  16320539.0
311363           61.49                   0.571  16320539.0
311364           61.49                   0.571  16320539.0

       excess_mortality_cumulative_absolute excess_mortality_cumulative  \
0                             missing_value               missing_value
1                             missing_value               missing_value
2                             missing_value               missing_value
3                             missing_value               missing_value
4                             missing_value               missing_value
...                                     ...                         ...
311360                        missing_value               missing_value
311361                        missing_value               missing_value
311362                        missing_value               missing_value
311363                        missing_value               missing_value
311364                        missing_value               missing_value

       excess_mortality excess_mortality_cumulative_per_million
0         missing_value                           missing_value
1         missing_value                           missing_value
2         missing_value                           missing_value
3         missing_value                           missing_value
4         missing_value                           missing_value
...                 ...                                     ...
311360    missing_value                           missing_value
311361    missing_value                           missing_value
311362    missing_value                           missing_value
311363    missing_value                           missing_value
311364    missing_value                           missing_value

[311365 rows x 67 columns]

In [21]:
df3 = df2.groupby(['Date', 'Country'])[['total_cases', 'total_deaths', 'total_vaccinations']].sum().reset_index()
print(df3)

              Date              Country    total_cases   total_deaths  \
0       2020-01-01            Argentina  missing_value  missing_value
1       2020-01-01               Mexico  missing_value  missing_value
2       2020-01-02            Argentina  missing_value  missing_value
3       2020-01-02               Mexico  missing_value  missing_value
4       2020-01-03          Afghanistan  missing_value  missing_value
...            ...                  ...            ...            ...
311360  2023-05-18        South America  missing_value  missing_value
311361  2023-05-18          South Korea  missing_value  missing_value
311362  2023-05-18  Upper middle income  missing_value  missing_value
311363  2023-05-18              Uruguay  missing_value  missing_value
311364  2023-05-18                World  missing_value  missing_value

       total_vaccinations
0           missing_value
1           missing_value
2           missing_value
3           missing_value
4           missing_value
...                   ...
311360        957020867.0
311361      missing_value
311362       5415545806.0
311363          9021046.0
311364      13381892700.0

[311365 rows x 5 columns]

In [64]:
df["total_cases"] = df["total_cases"].fillna(0)
df["total_deaths"] = df["total_deaths"].fillna(0)
df["total_vaccinations"] = df["total_vaccinations"].fillna(0)
df.head(10)

,ISO_code,Continent,Country,Date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
5,AFG,Asia,Afghanistan,2020-01-08,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
6,AFG,Asia,Afghanistan,2020-01-09,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
7,AFG,Asia,Afghanistan,2020-01-10,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
8,AFG,Asia,Afghanistan,2020-01-11,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
9,AFG,Asia,Afghanistan,2020-01-12,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [44]:
lst2=(df3.loc[df["total_deaths"]>=1000000,["Country"]])
print(lst2)

                       Country
15373                   Brazil
15374   British Virgin Islands
15375                   Brunei
15376                 Bulgaria
15377             Burkina Faso
...                        ...
307666        French Polynesia
307667                   Gabon
307668                  Gambia
307669                 Georgia
307670                 Germany

[6770 rows x 1 columns]

In [49]:
df3["Date"].loc[df["total_deaths"]>=1000000].count()

6770